.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
  
  table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
  }
  
  th {
    background-color: #333;
    color: white;
  }
  
  td {
    font-size: 16px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .search-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }
  .search-bar {
    padding: 8px;
    font-size: 14px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  